<div class="container">
  <div class="raw">


<h1 class="px-5 mx-auto">Welcome to <i class="fa-solid fa-book"></i> Bookers!</h1>


<div class="px-5 mx-auto">
<p>CopyRight Infratop.inc</p>
</div>

  </div>
</div>